:root {
  --primary-dark-blue: hsl(233, 47%, 7%);
  --primary-desaturated-blue: hsl(244, 38%, 16%);
  --primary-soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --p-transparent-white: hsla(0, 0%, 100%, 0.75);
  --h-transparent-white: hsla(0, 0%, 100%, 0.6);
}
